body {
    background-color: #052a28;
    color: white;
}

#input-abstract {
    background-color: #083d3c;
    color: white;
    text-align: justify;
    line-height: 1.5;
    height: 50vh
}

#check-btn {
    margin-left: 1px;
}

#percentage {
    font-weight: bolder;
}

#color-scale {
    height: 20px;
}

.scale-color {
    padding: 0;
}

.error {
    color: rgba(255, 196, 0, 1);
    font-weight: bold;
}

#response {
    border-bottom: 2px solid white;
}

#language-selector {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    font-weight: bold;
}

#language-selector option {
    background-color: #083d3c;
}

.abst-lang {
    opacity: 0.5;
}

.abst-lang:hover {
    opacity: 1;
}

.abst-lang.selected {
    border: 2px solid white;
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#dark-mode-container {
    padding-top: 4px;
}

.light {
    background-color: #dedede;
    color: black !important;
}

.light #language-selector {
    color: black;
}

.light #language-selector option {
    background-color: white;
}

.light #input-abstract {
    background-color: white;
    color: black;
}

.light .abst-lang.selected {
    border: 2px solid black;
}

.light #response {
    border-bottom: 2px solid black;
}