body {
    background-color: #052a28;
    color: white;
}

#input-abstract {
    background-color: #083d3c;
    color: white !important;
    text-align: justify;
    line-height: 1.5;
    height: 50vh
}

h1 {
    color: white
}

#check-btn {
    margin-left: 1px;
}

#response {
    font-size: 1.5vw;
    font-weight: bold;
    border: 1px solid black
}

#percentage {
    font-weight: bolder;
}

#color-scale {
    height: 20px;
}

.scale-color {
    padding: 0;
}

.error {
    color: rgba(255, 196, 0, 1);
    font-weight: bold;
}

#language-selector {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    font-weight: bold;
}

#language-selector option {
    background-color: #083d3c;
}